<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A site used to store my class notes">
    <meta name="author" content="Nichts">

    <title>Notes repository</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/style.min.css">
	
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="/" id="navbar-icon"><img src="/images/navbar_icon.png"></a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Argomenti</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="subjects/italian">Italiano</a>
							<a class="dropdown-item" href="subjects/history">Storia</a>
							<a class="dropdown-item" href="subjects/systems">Sistemi</a>
							<a class="dropdown-item" href="subjects/tpsi">TPSI</a>
							<a class="dropdown-item" href="subjects/informatics">Informatica</a>
							<a class="dropdown-item" href="subjects/english">Inglese</a>
							<a class="dropdown-item" href="subjects/maths">Matematica</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact">Contattami</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="faq">FAQ</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- Page content -->
	<div class="page-content" id="page-content">
		<!-- Page Header -->
		<header class="masthead" style="background-image: url('images/home-bg.jpg')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col col-md-10 mx-auto">
						<div class="site-heading">
							<h1 class="heading"> Note repository</h1>
							<span class="subheading">A site used to store my class notes.</span>
						</div>
					</div>
				</div>
				<div id="scroll-fade-in" class="scroll flip-animated" title="Scroll for more content" href="#">
					<i class="fas fa-angle-double-down" onclick="scroll()"></i>
				</div>
			</div>
		</header>

		<!-- Main Content -->
		<div class="container" name="page-main-content">
			<h1>Introduction</h1>
			<p>This website is designed to store my school notes. The maintainers are me and a schoolmate (bigkewer). All trademarks and copyright-written content found on this website belongs to their respective owners.</p>
			<h1>Licensing</h1>
			<p>Permissions of this strong copyleft license are conditioned on making available complete source code of licensed works and modifications, which include larger works using a licensed work, under the same license. Copyright and license notices must be preserved. Contributors provide an express grant of patent rights.</p>
			<h1>Deployment</h1>
			<p>This website ships as is and doesn't require any compilation, just the use of XAMPP/other server-sided programs for PhP.</p>
			<h1>Copyright</h1>
			<p>All trademarks and copyright-written content found on this website belong to their respective owners. The team is in no way affiliated with anybody.</p>
		</div>
		
		<hr>

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="#">
									<span class="fa-stack fa-lg">
										<i class="fab fa-youtube fa-stack-1x"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<span class="fa-stack fa-lg">
										<i class="fab fa-facebook-f fa-stack-1x"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://github.com/eNichts/ajax-school-site">
									<span class="fa-stack fa-lg">
										<i class="fab fa-github fa-stack-1x"></i>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<li class="list-inline-item">
							<img src="/images/navbar_icon.png">
						</li>
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<div class="footer-tx1-bound footer-title">
									<span>Main</span>
								</div>
								<div class="footer-tx2-bound"> 
									<a href>
										<span>Home</span>
									</a>
								</div>
								<div class="footer-tx3-bound">
									<a href>
										<span>Subjects</span>
									</a>
								</div>
								<div class="footer-tx4-bound">
									<a href>
										<span>Contact me</span>
									</a>
								</div>
								<div class="footer-tx5-bound">
									<a href>
										<span>FAQ</span>
									</a>
								</div>
								<div class="footer-tx6-bound">
									<a href>
										<span>About</span>
									</a>
								</div>
							</li>
							<li class="list-inline-item">
								<div class="footer-tx1-bound footer-title">
									<span>Github</span>
								</div>
								<div class="footer-tx2-bound">
									<a href>
										<span>Repository</span>
									</a>
								</div>
								<div class="footer-tx3-bound">
									<a href>
										<span>Pull Requests</span>
									</a>
								</div>
								<div class="footer-tx4-bound">
									<a href>
										<span>Commits</span>
									</a>
								</div>
								<div class="footer-tx5-bound">
									<a href>
										<span>Issues</span>
									</a>
								</div>
								<div class="footer-tx6-bound">
									<a href>
										<span>Wiki</span>
									</a>
								</div>
							</li>
							<li class="list-inline-item">
								<div class="footer-tx1-bound footer-title">
									<span>Social</span>
								</div>
								<div class="footer-tx2-bound">
									<a href>
										<span>Discord</span>
									</a>
								</div>
								<div class="footer-tx3-bound">
									<a href>
										<span>Youtube</span>
									</a>
								</div>
								<div class="footer-tx4-bound">
									<a href>
										<span>Facebook</span>
									</a>
								</div>
								<div class="footer-tx5-bound">
									<a href>
										<span>Reddit</span>
									</a>
								</div>
								<div class="footer-tx6-bound">
									<a href>
										<span>Forums</span>
									</a>
								</div>
							</li>
						</ul>
						<p class="copyright text-muted">Copyright &copy; Nichts 2017-18. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Custom scripts for this template -->
    <script src="/javascripts/script.min.js"></script>

</body>

</html>
